<div class="container-fluid sale">
  <div class="sale__client"> <i class="fas fa-user"></i><span (click)="openDialogClient()">Cliente: {{ client.name +' ' + client.last_name }}</span></div>
  <div class="row sale__info">
    <div class="col-sm-2 sale__totales">
      <div>
        <div>Buscar por</div>
        <select class="form-control custom-select">
          <option value="">Nombre</option>
          <option value="">Descripcion</option>
        </select>
      </div>

      <div class="sale__search-input">
        <div>Busqueda</div>
        <i class="fa-solid fa-circle-notch fa-spin" style="--fa-animation-duration: 0.45s;" *ngIf="showSpinner"  ></i>
        <input type="text" (focus)="searchProduct(query.value)"  (mouseenter)="searchProduct(query.value)"  (click)="searchProduct(query.value)"  [formControl]="search" #query   placeholder="Buscar.." class="form-control">
      </div>

      <div>
        <div>Cantidad</div>
        <input type="text" #query class="form-control form-control-danger" (keyup.enter)="addItem(query.value)" placeholder="Cantidad">
      </div>

    </div>
    <div class="col-sm-7 relative">
      <span class="product__info-close" *ngIf="!showCarousel" (click)="showCarousel = !showCarousel" >X</span>
      <div class="product__info carousel-container"  *ngIf="!showCarousel">
      <app-product-info [products]="item"  *ngFor="let item of productsFound"></app-product-info>
      </div>
      <div class="carousel-container" *ngIf="showCarousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of products">
            <app-product-card [showDelete]="false" [height]="'auto'" [width]="'107px'" [image]=" item  ">
            </app-product-card>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="col-sm-3 sale__totales">
      <div class="input-group input-group-lg  ">
        <span class="input-group-text sombra">Base</span>
        <span  class="form-control text-right sombra" aria-label="Sizing example input" placeholder="$ 0.00"
          aria-describedby="inputGroup-sizing-lg">{{ totalBase | number:'.2-2' }}</span>
      </div>
      <div class="input-group input-group-lg  ">
        <span class="input-group-text sombra">I.V.A.</span>
        <span  class="form-control text-right sombra" aria-label="Sizing example input" placeholder="$ 0.00"
          aria-describedby="inputGroup-sizing-lg"> {{ totalTax | number:'.2-2' }}</span>
      </div>
      <div class="input-group input-group-lg  " *ngIf="totalDiscount > 0">
        <span class="input-group-text sombra">Desc</span>
        <span  class="form-control text-right sombra" aria-label="Sizing example input" placeholder="$0.00"
          aria-describedby="inputGroup-sizing-lg"> {{ totalDiscount | number:'.2-2' }}</span>
      </div>
      <div class="input-group input-group-lg ">
        <span class="input-group-text sombra">Total</span>
        <span  class="form-control text-right sombra" aria-label="Sizing example input" placeholder="$0.00"
          aria-describedby="inputGroup-sizing-lg">{{ totalPay | number:'.2-2' }} </span>
      </div>
    </div>
  </div>
  <!-- TABLA -->
  <div class="row mt-3" *ngIf="dataSource ">
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="index">
          <th mat-header-cell   class="headerCustom" *matHeaderCellDef> N </th>
          <td mat-cell *matCellDef="let index = index"> {{index + 1 }} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef class="headerCustom"> Cant. </th>
          <td class="text-center" mat-cell *matCellDef="let element"> {{element.qty}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="headerCustom"> Descripción </th>
          <td class="text-left" mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="presentacion">
          <th mat-header-cell *matHeaderCellDef class="headerCustom"> Presentación </th>
          <td class="text-center" mat-cell *matCellDef="let element"> {{element.presentacion}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="moneda">
          <th mat-header-cell *matHeaderCellDef class="headerCustom"> Moneda </th>
          <td class="text-center" mat-cell *matCellDef="let element"> {{element.moneda  }} </td>
        </ng-container>

        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef class="headerCustom"> Precio </th>
          <td class="text-center" mat-cell *matCellDef="let element"> {{element.precio | number:'.2-2'  }} </td>
        </ng-container>

        <ng-container matColumnDef="descuento">
          <th mat-header-cell *matHeaderCellDef class="headerCustom"> Descuento </th>
          <td class="text-center" mat-cell *matCellDef="let element"> {{element.descuento | number:'.2-2'  }} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef class="headerCustom"> Total </th>
          <td class="text-right" mat-cell *matCellDef="let element"> {{(element.qty * element.precio) - element.descuento| number:'.2-2'  }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="headerCustom"> Actions </th>
          <td class="ps-4 text-left" mat-cell *matCellDef="let index = index" > <button mat-mini-fab color="warn" (click)="deleteItem( index)"><i
                class="fa-solid fa-trash"></i></button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>
  </div>

  <!-- <div class="row mt-3 shadow-sm p-3 mb-1 bg-light  rounded" >

    <div class="col-sm-1  text-center">Cantidad</div>
    <div class="col-sm-1  text-center">Presentacion</div>
    <div class="col-sm-3  text-center">Descripcion</div>
    <div class="col-sm-1  text-center">Moneda</div>
    <div class="col-sm-1  text-center">Tasa</div>
    <div class="col-sm-1  text-center">sku</div>
    <div class="col-sm-1  text-center" >Descuento</div>
    <div class="col-sm-1  text-center">Precio</div>
    <div class="col-sm-1  text-center">Total</div>
    <div class="col-sm-1  text-center">Accion</div>


</div>
  <div class="row" *ngFor="let item of venta">

      <div class="col-sm-1 text-center">{{item.qty}}</div>
      <div class="col-sm-1 text-center">{{item.presentacion}}</div>
      <div class="col-sm-3 text-center">{{item.description}}</div>
      <div class="col-sm-1 text-center">{{item.moneda}}</div>
      <div class="col-sm-1 text-center">{{item.trm}}</div>
      <div class="col-sm-1 text-center">{{item.sku}}</div>
      <div class="col-sm-1 text-center"  >{{item.descuento}}</div>
      <div class="col-sm-1 text-center">{{item.precio}}</div>
      <div class="col-sm-1 text-center">{{item.qty * item.precio}}</div>
      <div class="col-sm-1 text-center"></div>

  </div> -->
</div>
