.sale {
  position: relative;
  &__info {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid gainsboro;
  }
  &__carousel {
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    height: 100%;
  }
  &__totales {
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
  }
  &__search-input {
    position: relative;
  }
  &__client {
    display: grid;
    grid-template-columns: 20px fit-content(40%);
    span {
      line-height: 17px;
      padding-bottom: 5px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
.carousel-container {
  height: 200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  border: 1px solid gainsboro;
  overflow-y: auto;
  overflow-x: hidden;
}
owl-carousel-o {
  height: 100%;
  width: 100%;
  // display: flex;
  // align-items: center;
}
.text-right {
  text-align: right;
}
.input-group-lg > .btn,
.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text {
  font-size: 18px;
  font-weight: bolder;
}
.sombra {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.headerCustom {
  background-color: black;
  color: white;
  font-size: medium;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.example-container {
  height: 330px;
  overflow: auto;
}

table {
  width: 100%;
}
.container-fluid {
  padding: 0px;
}
.columnCustom {
  text-align: center;
}
tr.mat-row,
tr.mat-footer-row,
tr.mat-header-row {
  height: 35px;
}

.product__info-close {
  position: absolute;
  right: 50px;
  top: 5px;
  &:hover {
    cursor: pointer;
  }
  z-index: 10;
}
.relative {
  position: relative;
}
.fa-solid.fa-circle-notch.fa-spin {
  position: absolute;
  right: 5px;
  color: #d1cece;
  font-size: 24px;
  bottom: 6px;
}
