<div class="row my-2">
  <div class="col-sm-2 pt-1 text-center"> <img width="110px"
      src="http://api.giovanye.co/storage/products/April2022/ZZcUh7UZ209OsOBCwlhy.JPG" alt=""></div>
  <div class="col-sm-10 d-flex flex-column justify-content-center text-center">
    <span class="product__info-text h4" placeholder="$ 0.00">ACEITE</span>
    <span class="product__info-text h5" placeholder="$ 0.00"> bla, bla, bla, bla, bla,
      bla, bla, bla, bla</span>
    <span class="product__info-text h5" placeholder="$0.00">Precio: $ {{ 0 |
      number:'.2-2' }} </span>
  </div>
</div>
